@font-face{
 font-family:'digital-clock-font';
 src: url('/assets/fonts/digital-7/mono.ttf');
}
html,body{
  font-family: Helvetica, Arial, sans-serif;
  min-height:100%;
  position: relative;
}
#updated_time{
  display: none;
}
#body{
  /* height of footer+footer.bottom */
  padding-bottom: 3em;
}
.breathe{
  margin: .5em;
}
/***** FOOTER DESIGN DEBUG HELPERS *****/
/* #departure_table{
  z-index:0;
  min-height:110vh;
  border: 2px solid black;
}
footer{
  z-index:10;
}
#footer{
  border-top: 1px solid red;
} */
/***** END FOOTER DESIGN DEBUG HELPERS *****/
footer{
  position: relative;
  top:0;
  text-align: center;
  /* (footer height-Text height)/2 -> excluding footer.bottom */
  top: .5em;
}
#footer {
   z-index:10;
   position:absolute;
   bottom:1em;
   height: 2em;
   width:100%;
   background-color: #B1C8D6;
}

#container{
  min-height:100vh;
  display: block;
  position: relative;
  padding-bottom: 0;
}
.timefont{
  font-family:'digital-clock-font'
}
.serif{
  font-family: 'serif'
}

#departure_table{
  width:100%;
}
#stop_name{
  width:100%;
  font-size: 24pt;
  text-align: center;
}
table {
    border: 1px solid #CCC;
    border-collapse: collapse;
}

#departure_table tr{
  text-align: center;
  vertical-align: middle;
  margin: 0;
  padding: 1em;
  font-size: 24pt;
}
tr.mainRow{
  border-top: 1px solid black;
}
.notecell{
  border: none;
  text-align: left;
  font-size: 14pt;
}
#departure_table tr.even{
  background: #A7C8E4;
}
#departure_table tr.odd{
  background: #FFDF8E;
}
#departure_table tr.notlive{
  background: #CCC;
}
.ding{
  background: #E98B8B;
}
#alerts{
  position:relative;
  width: 50%;
  left: 25%;
}
.alert{
  border-radius: 10px;
  padding:1em;
  text-align: center;
  margin-bottom:.5em;
}
.alert-fatal{
  background-color: #E98B8B;
}
.alert-success{
  background-color: #6FD08C;
}
.small{
  font-size: 12pt;
}
#feedback{
  position: fixed;
  z-index: 20;
  bottom:1.5em;
  right:1em;
}
/* Button styles */
/* BIG BUTTON */
.button-big {
	-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
	-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
	box-shadow: 0px 0px 0px 2px #9fb4f2;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
	background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
	background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
	background-color:#7892c2;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4e6096;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:19px;
	padding:12px 37px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.button-big:hover,button-big:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
	background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
	background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
	background-color:#476e9e;
}
.button-big:active,button-big:active {
	position:relative;
	top:1px;
}
/* SMALLER BUTTON */
a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}
.button-small {
	-moz-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	-webkit-box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	box-shadow:inset 0px 1px 0px 0px #7a8eb9;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #637aad), color-stop(1, #5972a7));
	background:-moz-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-webkit-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-o-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:-ms-linear-gradient(top, #637aad 5%, #5972a7 100%);
	background:linear-gradient(to bottom, #637aad 5%, #5972a7 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#637aad', endColorstr='#5972a7',GradientType=0);
	background-color:#637aad;
	border:1px solid #314179;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
}
.button-small:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5972a7), color-stop(1, #637aad));
	background:-moz-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-webkit-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-o-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:-ms-linear-gradient(top, #5972a7 5%, #637aad 100%);
	background:linear-gradient(to bottom, #5972a7 5%, #637aad 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5972a7', endColorstr='#637aad',GradientType=0);
	background-color:#5972a7;
}
.button-small:active {
	position:relative;
	top:1px;
}
